.\"	$NetBSD$
.\"
.\" Copyright notice
.\"
.TH NAME SECTION local
.SH NAME
.SH SYNOPSIS
.SH DESCRIPTION
.SH FILES
.SH SEE ALSO
.SH DIAGNOSTICS
.SH BUGS
.SH SECURITY CONSIDERATIONS
.\" New manpages should use mdoc(7) instead of man(7).
.\" See mdoc.template, mdoc(7), and mdoc.samples(7).
